<template>
	<div class="page-container">
		<div class="page-content">
			<div class="content-wrapper">



				<div class="panel panel-default">
					<div class="panel-heading">
						<el-button-group>
							<el-button type="success" icon="el-icon-circle-plus-outline" @click="createAgency">
								Acenta ekle
							</el-button>
						</el-button-group>
					</div>

					<el-table :data="agencies" stripe style="width: 100%" @row-click="editAgency">
						<el-table-column type="selection" width="35">
						</el-table-column>

						<el-table-column
							prop="status"
							label="Durum"
							width="150"
							fixed="left"
							:filters="[{ text: agencyStatuses.active.name, value: 'active' },
									   { text: agencyStatuses.new.name, value: 'new' },
									   { text: agencyStatuses.pending.name, value: 'pending' },
									   { text: agencyStatuses.denied.name, value: 'denied' }]"
							:filter-method="filterStatus"
							filter-placement="bottom-end" @cell-click="changeStatus">
							<template slot-scope="scope">
								<span class="label" :class="{ 'bg-success-400': scope.row.status == 'active',
															  'bg-info-400': 	scope.row.status == 'new',
															  'bg-warning-400': scope.row.status == 'pending',
															  'bg-danger-400' : scope.row.status == 'denied' }"
															  @click="changeStatus(scope.row)">
									{{ agencyStatuses[scope.row.status].name }}
								</span>
							</template>
							</el-table-column>

						<el-table-column prop="name" label="Acenta" sortable>
							<template slot-scope="scope">
								<span class="label label-flat label-rounded border-success text-success-600">
									{{ scope.row.agency_name }}
								</span>
							</template>
						</el-table-column>

						<el-table-column prop="email" label="Email" sortable>
							<template slot-scope="scope">
								<a :href="`mailto:${scope.row.email}`" target="new">{{ scope.row.email }}</a>
							</template>
						</el-table-column>

						<el-table-column prop="phone" label="Telefon" sortable>
							<template slot-scope="scope">
								<a :href="`tel://${scope.row.phone}`" target="new">{{ scope.row.phone }}</a>
							</template>
						</el-table-column>

						<el-table-column prop="agency_comission" label="Komisyon orani" sortable width="150">
							<template slot-scope="scope">
								{{ scope.row.agency_comission }} %
							</template>
						</el-table-column>

						<el-table-column prop="pays_partial" label="Kismi odeme" sortable width="150">
							<template slot-scope="scope">
								{{ scope.row.pays_partial }}
							</template>
						</el-table-column>

						<el-table-column
							fixed="right"
							label=""
							width="40">
							<template slot-scope="scope">
								<el-button type="text" size="small" @click="editAgency(scope.row)">
									<i class="icon-cog3"></i>
								</el-button>
							</template>
						</el-table-column>

					</el-table>
				</div>

				<el-dialog
					title="Yeni acenta"
					:visible.sync="modal"
					width="50%">
					<el-form ref="agency" :model="agency" label-width="200px">
					<el-form-item label="Acenta yetkilisi">
						<el-input v-model="agency.name"></el-input>
					</el-form-item>
					<el-form-item label="Acenta adi">
						<el-input v-model="agency.agency_name"></el-input>
					</el-form-item>
					<el-form-item label="Acenta email">
						<el-input v-model="agency.email"></el-input>
					</el-form-item>
					<el-form-item label="Acenta sifresi">
						<el-input v-model="agency.password"></el-input>
					</el-form-item>
					<el-form-item label="Acenta telefonu">
						<el-input v-model="agency.phone"></el-input>
					</el-form-item>
					<el-form-item label="Acenta adresi">
						<el-input type="textarea" v-model="agency.agency_address"></el-input>
					</el-form-item>
					<el-form-item label="Komisyon orani">
						<el-input-number v-model="agency.agency_comission"></el-input-number>
					</el-form-item>
					<el-form-item label="Kismi odeme yapabilir">
						<el-switch v-model="agency.can_pay_partial"></el-switch>
					</el-form-item>
					<el-form-item label="Durumu">
						<el-select v-model="agency.status" placeholder="Durumu seciniz">
							<el-option v-for="(status, code) in agencyStatuses" :label="status.name" :value="code" :key="code" />
						</el-select>
					</el-form-item>
					<el-form-item label="Email yolu ile sifre gonder">
						<el-switch v-model="agency.send_email"></el-switch>
					</el-form-item>
					</el-form>
					<span slot="footer" class="dialog-footer">
						<el-button type="primary" @click="saveAgency">Kaydet</el-button>
						<el-button @click="modal = false">Kapat</el-button>
					</span>
				</el-dialog>

				<el-dialog
					title="Acenta durumu"
					:visible.sync="statusModal"
					width="25%">
					<el-select v-model="agency.status" placeholder="Select" width="100%">
						<el-option key="new" label="Yeni" value="new" />
						<el-option key="pending" label="Evraklar bekleniyor" value="pending" />
						<el-option key="active" label="Aktif" value="active" />
						<el-option key="denied" label="Reddedildi" value="denied" />
					</el-select>
					<span slot="footer" class="dialog-footer">

						<el-button type="primary" @click="statusModal = false">Kaydet</el-button>
						<el-button @click="statusModal = false">Kapat</el-button>
					</span>
				</el-dialog>

			</div>
		</div>
	</div>
</template>
<script type="text/javascript">
	import { mapGetters, mapActions } from 'vuex'
	export default {
		name: 'agencies',
		data(){
			return {
				agency: {},
				statusModal: false,
				modal: false,
				editing: false
			}
		},
		mounted(){
			this.fetch('agencies')
		},
		methods: {
			...mapActions(['fetch']),
			editAgency(agency){
				axios.get(`/api/agencies/${agency.id}`).then(res => {
					this.agency = res.data
					this.modal = true
				})
			},
			createAgency(){
				this.agency = {}
				this.modal = true
			},
			saveAgency(){
				if(this.agency.hasOwnProperty('id')){
					axios.put(`/api/agencies/${this.agency.id}`, this.agency).then(res => {
						this.modal = false
					})
				}else{
					axios.post('/api/agencies', this.agency).then(res => {
						this.modal = false
					})
				}
			},
			changeStatus(agency){
				this.agency = agency
				this.statusModal = true
			},
			filterStatus(value, row) {
				return row.status === value;
			}
		},
		computed: {
			...mapGetters(['agencies', 'agencyStatuses'])
		}
	}
</script>