<template lang="pug">
	.page-container
		.page-content
			.content-wrapper
				.panel.panel-default
					.panel-heading
						el-button(type="success", @click="createAirport") Havaalani oluştur

					el-table(:data="airports", @row-click="editAirport")
						el-table-column(prop="name", label="Havaalani", sortable="")
						el-table-column(prop="code", label="Kodu", sortable="")
						el-table-column(prop="parent_name", label="Konumu", sortable="")
							template(slot-scope="scope")
								| {{ scope.row.parent_name }}
								span(v-if="scope.row.parent.parent")
									|, {{ scope.row.parent.parent.name }}

					el-dialog(:visible.sync="modal")

						el-form(ref="form", :model="airport", label-width="120px")
							el-form-item(label="Havaalani")
								el-input(v-model="airport.name")
							el-form-item(label="Havaalani kodu")
								el-input(v-model="airport.code")
							el-form-item(label="Konumu")
								el-select(v-model="airport.parent_id", placeholder="Alt bolge seciniz", filterable="")
									el-option(v-for="sd in cities", :label="sd.name", :value="sd.id", :key="sd.id")

						span.dialog-footer(slot="footer")
							el-button(type="primary", @click="saveAirport", :disabled="!airport.name.length") Kaydet
							el-button(@click="modal = false", plain="") Kapat
</template>
<script type="text/javascript">
	import { mapGetters, mapActions } from 'vuex'
	export default {
		name: 'airports',
		data(){
			return {
				modal: false,
				airport: { type: 'airport', name: '' }
			}
		},
		mounted(){
			this.fetch('locations')
		},
		methods: {
			...mapActions([
				'fetch',
				'store', 
				'add', 
				'update', 
				'destroy',
				'restore',
				'change',
				'unset',
				'toggle'
			]),
			createAirport(){
				this.airport = { type: 'airport', name: '' }
				this.modal = true
			},
			editAirport(row){
				this.airport = row
				this.modal = true
			},
			saveAirport(){
				if(this.airport.hasOwnProperty('id')){
					this.update(['locations', this.airport]).then(res => {
						//this.replace('airports', res.data)
						//this.$refs.upload.submit()
						this.modal = false
					})
				}else{
					this.store(['locations', this.airport]).then(res => {
						//this.replace('locations', res.data)
						//this.$refs.upload.submit()
						this.modal = false
					})
				}
			}
		},
		computed: {
			...mapGetters([
				'airports',
				'cities',
				'filters',
				'loading'
			]),
		}
	}
</script>