<template lang="pug">
	#app
		secondary-nav
		router-view
</template>

<script>
	import SecondaryNav from './atoms/SecondaryNav.vue'
	export default {
		components: { SecondaryNav },
		name: 'app',
/*
		mounted(){
			echo.private('updates')
			    .listen('EntryCreated', (e) => { this.$store.dispatch('add', [e.path, e.entry]) })
			    .listen('EntryUpdated', (e) => { this.$store.dispatch('change', [e.path, e.entry]) })
			    .listen('EntryDeleted', (e) => { this.$store.dispatch('remove', [e.path, e.id]) })
		}
*/
	}
</script>