<template lang="pug">
	.page-container
		.page-content
			.content-wrapper
				.panel.panel-default
					.panel-heading
						el-button(type="success", @click="createCity") Il oluştur

					el-table(:data="cities", @row-click="editCity")
						el-table-column(prop="name", label="Il", sortable="")
						el-table-column(prop="parent_name", label="Ulke", sortable="")
							template(slot-scope="scope")
								| {{ scope.row.parent_name }}

					el-dialog(:visible.sync="modal")

						el-form(ref="form", :model="city", label-width="120px")
							el-form-item(label="Il")
								el-input(v-model="city.name")
							el-form-item(label="Ulke")
								el-select(v-model="city.parent_id", placeholder="Ulke seciniz", filterable="")
									el-option(v-for="sd in countries", :label="sd.name", :value="sd.id", :key="sd.id")

						span.dialog-footer(slot="footer")
							el-button(type="primary", @click="saveCity", :disabled="!city.name.length") Kaydet
							el-button(@click="modal = false", plain="") Kapat
</template>
<script type="text/javascript">
	import { mapGetters, mapActions } from 'vuex'
	export default {
		name: 'cities',
		data(){
			return {
				modal: false,
				city: { type: 'city', name: '' }
			}
		},
		mounted(){
			this.fetch('locations')
		},
		methods: {
			...mapActions([
				'fetch',
				'store', 
				'add', 
				'update', 
				'destroy',
				'restore',
				'change',
				'unset',
				'toggle'
			]),
			createCity(){
				this.city = { type: 'city', name: '' }
				this.modal = true
			},
			editCity(row){
				this.city = row
				this.modal = true
			},
			saveCity(){
				if(this.city.hasOwnProperty('id')){
					this.update(['locations', this.city]).then(res => {
						//this.replace('cities', res.data)
						//this.$refs.upload.submit()
						this.modal = false
					})
				}else{
					this.store(['locations', this.city]).then(res => {
						//this.replace('locations', res.data)
						//this.$refs.upload.submit()
						this.modal = false
					})
				}
			}
		},
		computed: {
			...mapGetters([
				'cities',
				'countries',
				'filters',
				'loading'
			]),
		}
	}
</script>