<template lang="pug">
	.page-container
		.page-content
			.content-wrapper
				.panel.panel-default
					.panel-heading
						el-button(type="success", @click="createCountry") Ulke oluştur

					el-table(:data="countries", @row-click="editCountry")
						el-table-column(prop="name", label="Ulke", sortable="")

					el-dialog(:visible.sync="modal")

						el-form(ref="form", :model="country", label-width="120px")
							el-form-item(label="Ulke")
								el-input(v-model="country.name")

						span.dialog-footer(slot="footer")
							el-button(type="primary", @click="saveCountry", :disabled="!country.name.length") Kaydet
							el-button(@click="modal = false", plain="") Kapat
</template>
<script type="text/javascript">
	import { mapGetters, mapActions } from 'vuex'
	export default {
		name: 'countries',
		data(){
			return {
				modal: false,
				country: { type: 'country', name: '' }
			}
		},
		mounted(){
			this.fetch('locations')
		},
		methods: {
			...mapActions([
				'fetch',
				'store', 
				'add', 
				'update', 
				'destroy',
				'restore',
				'change',
				'unset',
				'toggle'
			]),
			createCountry(){
				this.country = { type: 'country', name: '' }
				this.modal = true
			},
			editCountry(row){
				this.country = row
				this.modal = true
			},
			saveCountry(){
				if(this.city.hasOwnProperty('id')){
					this.update(['locations', this.country]).then(res => {
						this.modal = false
					})
				}else{
					this.store(['locations', this.country]).then(res => {
						this.modal = false
					})
				}
			}
		},
		computed: {
			...mapGetters([
				'countries',
				'filters',
				'loading'
			])
		}
	}
</script>
