<template>
	<div class="page-container">

		<!-- Page content -->
		<div class="page-content">

			<!-- Main content -->
			<div class="content-wrapper">

				<!-- Simple statistics -->
				<div class="row">
					<div class="col-sm-6 col-md-3">
						<div class="panel panel-body panel-body-accent">
							<div class="media no-margin">
								<div class="media-left media-middle">
									<i class="icon-pointer icon-3x text-success-400"></i>
								</div>

								<div class="media-body text-right">
									<h3 class="no-margin text-semibold">652,549</h3>
									<span class="text-uppercase text-size-mini text-muted">total clicks</span>
								</div>
							</div>
						</div>
					</div>

					<div class="col-sm-6 col-md-3">
						<div class="panel panel-body">
							<div class="media no-margin">
								<div class="media-left media-middle">
									<i class="icon-enter6 icon-3x text-indigo-400"></i>
								</div>

								<div class="media-body text-right">
									<h3 class="no-margin text-semibold">245,382</h3>
									<span class="text-uppercase text-size-mini text-muted">total visits</span>
								</div>
							</div>
						</div>
					</div>

					<div class="col-sm-6 col-md-3">
						<div class="panel panel-body">
							<div class="media no-margin">
								<div class="media-body">
									<h3 class="no-margin text-semibold">54,390</h3>
									<span class="text-uppercase text-size-mini text-muted">total comments</span>
								</div>

								<div class="media-right media-middle">
									<i class="icon-bubbles4 icon-3x text-blue-400"></i>
								</div>
							</div>
						</div>
					</div>

					<div class="col-sm-6 col-md-3">
						<div class="panel panel-body">
							<div class="media no-margin">
								<div class="media-body">
									<h3 class="no-margin text-semibold">389,438</h3>
									<span class="text-uppercase text-size-mini text-muted">total orders</span>
								</div>

								<div class="media-right media-middle">
									<i class="icon-bag icon-3x text-danger-400"></i>
								</div>
							</div>
						</div>
					</div>
				</div>

				<div class="row">
					<div class="col-sm-6 col-md-3">
						<div class="panel panel-body bg-blue-400 has-bg-image">
							<div class="media no-margin">
								<div class="media-body">
									<h3 class="no-margin">54,390</h3>
									<span class="text-uppercase text-size-mini">total comments</span>
								</div>

								<div class="media-right media-middle">
									<i class="icon-bubbles4 icon-3x opacity-75"></i>
								</div>
							</div>
						</div>
					</div>

					<div class="col-sm-6 col-md-3">
						<div class="panel panel-body bg-danger-400 has-bg-image">
							<div class="media no-margin">
								<div class="media-body">
									<h3 class="no-margin">389,438</h3>
									<span class="text-uppercase text-size-mini">total orders</span>
								</div>

								<div class="media-right media-middle">
									<i class="icon-bag icon-3x opacity-75"></i>
								</div>
							</div>
						</div>
					</div>

					<div class="col-sm-6 col-md-3">
						<div class="panel panel-body bg-success-400 has-bg-image">
							<div class="media no-margin">
								<div class="media-left media-middle">
									<i class="icon-pointer icon-3x opacity-75"></i>
								</div>

								<div class="media-body text-right">
									<h3 class="no-margin">652,549</h3>
									<span class="text-uppercase text-size-mini">total clicks</span>
								</div>
							</div>
						</div>
					</div>

					<div class="col-sm-6 col-md-3">
						<div class="panel panel-body bg-indigo-400 has-bg-image">
							<div class="media no-margin">
								<div class="media-left media-middle">
									<i class="icon-enter6 icon-3x opacity-75"></i>
								</div>

								<div class="media-body text-right">
									<h3 class="no-margin">245,382</h3>
									<span class="text-uppercase text-size-mini">total visits</span>
								</div>
							</div>
						</div>
					</div>
				</div>
				<!-- /simple statistics -->


				<!-- Statistics with progress bar -->
				<h6 class="content-group text-semibold">
					Progress stats
					<small class="display-block">Boxes with progress bars</small>
				</h6>
				<div class="row">
					<div class="col-sm-6 col-md-3">
						<div class="panel panel-body bg-blue-400 has-bg-image">
							<div class="media no-margin-top content-group">
								<div class="media-body">
									<h6 class="no-margin text-semibold">Server maintenance</h6>
									<span class="text-muted">Until 1st of June</span>
								</div>

								<div class="media-right media-middle">
									<i class="icon-cog3 icon-2x"></i>
								</div>
							</div>

							<div class="progress progress-micro bg-blue mb-10">
								<div class="progress-bar bg-white" style="width: 67%">
									<span class="sr-only">67% Complete</span>
								</div>
							</div>
			                <span class="pull-right">67%</span>
			                Re-indexing
						</div>
					</div>

					<div class="col-sm-6 col-md-3">
						<div class="panel panel-body bg-danger-400 has-bg-image">
							<div class="media no-margin-top content-group">
								<div class="media-body">
									<h6 class="no-margin text-semibold">Services status</h6>
									<span class="text-muted">April, 19th</span>
								</div>

								<div class="media-right media-middle">
									<i class="icon-pulse2 icon-2x"></i>
								</div>
							</div>

							<div class="progress progress-micro mb-10 bg-danger">
								<div class="progress-bar bg-white" style="width: 80%">
									<span class="sr-only">80% Complete</span>
								</div>
							</div>
			                <span class="pull-right">80%</span>
			                Partly operational
						</div>
					</div>

					<div class="col-sm-6 col-md-3">
						<div class="panel panel-body bg-success-400 has-bg-image">
							<div class="media no-margin-top content-group">
								<div class="media-left media-middle">
									<i class="icon-cog3 icon-2x"></i>
								</div>

								<div class="media-body">
									<h6 class="no-margin text-semibold">Server maintenance</h6>
									<span class="text-muted">Until 1st of June</span>
								</div>
							</div>

							<div class="progress progress-micro mb-10 bg-success">
								<div class="progress-bar bg-white" style="width: 67%">
									<span class="sr-only">67% Complete</span>
								</div>
							</div>
			                <span class="pull-right">67%</span>
			                Re-indexing
						</div>
					</div>

					<div class="col-sm-6 col-md-3">
						<div class="panel panel-body bg-indigo-400 has-bg-image">
							<div class="media no-margin-top content-group">
								<div class="media-left media-middle">
									<i class="icon-pulse2 icon-2x"></i>
								</div>

								<div class="media-body">
									<h6 class="no-margin text-semibold">Services status</h6>
									<span class="text-muted">April, 19th</span>
								</div>
							</div>

							<div class="progress progress-micro mb-10 bg-indigo">
								<div class="progress-bar bg-white" style="width: 80%">
									<span class="sr-only">80% Complete</span>
								</div>
							</div>
			                <span class="pull-right">80%</span>
			                Partly operational
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</template>

<script>
export default {
	name: 'Dashboard',

	}
</script>