<template lang="pug">
	.page-container
		.page-content
			.content-wrapper
				.panel.panel-default
					.panel-heading
						el-button(type="success", @click="createDestination") Bolge oluştur

					el-table(:data="destinations", @row-click="editDestination")
						el-table-column(prop="name", label="Bolge", sortable="")
						el-table-column(prop="parent_name", label="Il", sortable="")
							template(slot-scope="scope")
								| {{ scope.row.parent_name }}

					el-dialog(:visible.sync="modal")

						el-form(ref="form", :model="destination", label-width="120px")
							el-form-item(label="Bolge")
								el-input(v-model="destination.name")
							el-form-item(label="Il")
								el-select(v-model="destination.parent_id", placeholder="Il seciniz", filterable="")
									el-option(v-for="sd in cities", :label="sd.name", :value="sd.id", :key="sd.id")

						span.dialog-footer(slot="footer")
							el-button(type="primary", @click="saveDestination", :disabled="!destination.name.length") Kaydet
							el-button(@click="modal = false", plain="") Kapat
</template>
<script type="text/javascript">
	import { mapGetters, mapActions } from 'vuex'
	export default {
		name: 'destinations',
		data(){
			return {
				modal: false,
				destination: { type: 'destination', name: '' }
			}
		},
		mounted(){
			this.fetch('locations')
		},
		methods: {
			...mapActions([
				'fetch',
				'store', 
				'add', 
				'update', 
				'destroy',
				'restore',
				'change',
				'unset',
				'toggle'
			]),
			createDestination(){
				this.destination = { type: 'destination', name: '' }
				this.modal = true
			},
			editDestination(row){
				this.destination = row
				this.modal = true
			},
			saveDestination(){
				if(this.destination.hasOwnProperty('id')){
					this.update(['locations', this.destination]).then(res => {
						//this.replace('destinations', res.data)
						//this.$refs.upload.submit()
						this.modal = false
					})
				}else{
					this.store(['locations', this.destination]).then(res => {
						//this.replace('locations', res.data)
						//this.$refs.upload.submit()
						this.modal = false
					})
				}
			}
		},
		computed: {
			...mapGetters([
				'destinations',
				'cities',
				'filters',
				'loading'
			]),
		}
	}
</script>