<template lang="pug">
	.page-container
		.page-content
			.content-wrapper
				.panel.panel-default
					.panel-heading
						el-button(type="success", @click="createHotel") Otel oluştur

					el-table(:data="hotels", @row-click="editHotel")
						el-table-column(prop="name", label="Otel", sortable="")
						el-table-column(prop="parent_name", label="Konumu", sortable="")
							template(slot-scope="scope")
								| {{ scope.row.parent_name }}
								span(v-if="scope.row.parent.parent")
									|, {{ scope.row.parent.parent.name }}

					el-dialog(:visible.sync="modal")

						el-form(ref="form", :model="hotel", label-width="120px")
							el-form-item(label="Otel")
								el-input(v-model="hotel.name")
							el-form-item(label="Konumu")
								el-select(v-model="hotel.parent_id", placeholder="Alt bolge seciniz", filterable="")
									el-option(v-for="sd in subdestinations", :label="sd.name", :value="sd.id", :key="sd.id")

						span.dialog-footer(slot="footer")
							el-button(type="primary", @click="saveHotel", :disabled="!hotel.name.length") Kaydet
							el-button(@click="modal = false", plain="") Kapat
</template>
<script type="text/javascript">
	import { mapGetters, mapActions } from 'vuex'
	export default {
		name: 'hotels',
		data(){
			return {
				modal: false,
				hotel: { type: 'hotel', name: '' }
			}
		},
		mounted(){
			this.fetch('locations')
		},
		methods: {
			...mapActions([
				'fetch',
				'store', 
				'add', 
				'update', 
				'destroy',
				'restore',
				'change',
				'unset',
				'toggle'
			]),
			createHotel(){
				this.hotel = { type: 'hotel', name: '' }
				this.modal = true
			},
			editHotel(row){
				this.hotel = row
				this.modal = true
			},
			saveHotel(){
				if(this.hotel.hasOwnProperty('id')){
					this.update(['locations', this.hotel]).then(res => {
						//this.replace('hotels', res.data)
						//this.$refs.upload.submit()
						this.modal = false
					})
				}else{
					this.store(['locations', this.hotel]).then(res => {
						//this.replace('locations', res.data)
						//this.$refs.upload.submit()
						this.modal = false
					})
				}
			}
		},
		computed: {
			...mapGetters([
				'hotels',
				'subdestinations',
				'filters',
				'loading'
			]),
		}
	}
</script>