<template>
	<div class="page-container">
		<div class="page-content">
			<div class="sidebar sidebar-main sidebar-default">
				<div class="sidebar-content">
					<div class="sidebar-category sidebar-category-visible">
						<div class="category-content no-padding">
							<ul class="navigation navigation-main navigation-accordion navigation-bordered">
								<li class="navigation-header"><span>Baslangic noktalar</span></li>
								<li v-for="startLocation in locationsFiltered" :key="startLocation.id" :class="{ active: startLocation.id == selectedLocation }">
									<a @click="selectedLocation = startLocation.id"><span>{{ startLocation.name }}</span></a>
								</li>
							</ul>
						</div>
					</div>
				</div>
			</div>
			<div class="content-wrapper">
				<div class="panel panel-flat">
					<div class="panel-body">
						<table class="table table-condensed table-bordered prices" v-loading="loading">
							<thead>
								<tr>
									<th>Varis nokta</th>
									<th style="width: 15% !important;">Arac tipi</th>
									<th style="width: 15% !important;">Tek yon</th>
									<th style="width: 15% !important;">Cift yon</th>
									<th style="width: 15% !important;">$$</th>
								</tr>
							</thead>
							<tbody>
								<tr v-for="endLocation in locationsFiltered" :key="endLocation.id">
									<td>
										{{ endLocation.name }}
									</td>
									<td>
										<table class="table table-condensed">
											<tr v-for="vehicle in vehicles">
												<td class="bottom-bordered">
													<input type="text" readonly :value="`${vehicle.name} (${vehicle.pax_capacity} pax)`" class="form-control input-sm" />
												</td>
											</tr>
										</table>
									</td>
									<td>
										<table class="table table-condensed">
											<tr v-for="vehicle in vehicles">
												<td class="bottom-bordered">
													<input type="number" 
														class="form-control input-sm"
														:value="getPrice(endLocation.id, vehicle.id, 'price')" 
														@change="priceChanged(endLocation.id, vehicle.id, 'price', $event)" 
														:key="`${endLocation}-${vehicle.id}-price`" />
												</td>
											</tr>
										</table>
									</td>
									<td>
										<table class="table table-condensed">
											<tr v-for="(vehicle, index) in vehicles">
												<td class="bottom-bordered">
													<input type="number" 
														class="form-control input-sm"
														:value="getPrice(endLocation.id, vehicle.id, 'two_way_price')" 
														@change="priceChanged(endLocation.id, vehicle.id, 'two_way_price', $event)" 
														:key="`${endLocation}-${vehicle.id}-two_way_price`" />
												</td>
											</tr>
										</table>
									</td>
									<td>
										<table class="table table-condensed">
											<tr v-for="vehicle in vehicles">
												<td class="bottom-bordered">
													<select :value="getPrice(endLocation.id, vehicle.id, 'currency')" 
															@click="priceChanged(endLocation.id, vehicle.id, 'currency')" 
															:key="`${endLocation}-${vehicle.id}-currency`" class="form-control input-sm">
														<option v-for="currency in currencies" :vakue="currency.id" :key="currency.id">
															{{ currency.id }}
														</option>
													</select>
												</td>
											</tr>
										</table>
									</td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
			</div>
		</div>
	</div>
</template>
<script type="text/javascript">
	import { mapGetters, mapActions } from 'vuex'
	import collect from 'collect.js'
	export default {
		name: 'prices',
		data(){
			return {
				selectedLocation: null
			}
		},
		mounted(){
			this.fetch(['locations', { types: ['destination', 'subdestination', 'airport'] }]).then(res => {
				this.selectedLocation = this.locationsFiltered[0].id
				this.fetch('currencies')
				this.fetch('vehicles')
				this.fetch(['directions', { start_location_id: this.selectedLocation }])
			})
		},
		methods: {
			...mapActions(['fetch', 'change']),
			getPrice(endLocation, vehicle, field){
				var direction = collect(this.directions)
									.where('start_location_id', this.selectedLocation)
									.where('end_location_id', endLocation)
									.first()
				if(direction && direction.prices && direction.prices.length){
					var price = collect(direction.prices).where('vehicle_id', vehicle).first()
					//console.log(price)
					if(price !== undefined && price.hasOwnProperty(field)){
						return price[field]
					}
				}
				//return null
			},
			priceChanged(endLocation, vehicle, field, e){
				var direction = collect(this.directions)
									.where('start_location_id', this.selectedLocation)
									.where('end_location_id', endLocation)
									.first()
				if(!direction){
					this.directions.push({ start_location_id: this.selectedLocation, end_location_id: endLocation, prices: [] })
					direction = collect(this.directions)
									.where('start_location_id', this.selectedLocation)
									.where('end_location_id', endLocation)
									.first()
				}
				var price = direction.prices.find(p => p.vehicle_id === vehicle)
				if(!price){
					direction.prices.push({ vehicle_id: vehicle, price: 0, two_way_price: 0, currency: 'USD' })
					price = direction.prices.find(p => p.vehicle_id === vehicle)
				}
				price[field] = e.target.value
				if(field == 'price'){
					price['two_way_price'] = e.target.value*2
				}
				this.change(['loading', true])
				axios.post('/api/directions', direction)
					 .then(res => { 
						console.log(res.data)
						this.change(['loading', false])
					 })
			}
		},
		computed: {
			...mapGetters(['locations', 'currencies', 'vehicles', 'directions', 'loading']),
			locationsFiltered: function(){
				return this.locations.filter(l => ['destination', 'subdestination', 'airport'].includes(l.type))
			},
		},
		watch: {
			'selectedLocation': function(val){
				this.fetch(['directions', { start_location_id: val }])
			}
		}
	}
</script>
<style scope>
	table.prices input, table.prices select{
		height: 25px !important;
		border: 0px !important;
	}
	td.bottom-bordered{
		border-bottom: 1px solid #eee;
	}
	table.prices tbody td{
		padding: 0px;
	}
</style>