<template>
	<div class="page-container">
		<div class="page-content">
			<div class="content-wrapper">



				<div class="panel panel-default">
					<div class="panel-heading">

						<el-button-group style="padding:10px 0">
							<el-button type="success" icon="el-icon-circle-plus-outline"></el-button>
							<el-button type="danger" icon="el-icon-delete" plain :disabled="!selectedReservations.length" @click="deleteReservations"></el-button>
						</el-button-group>
						<el-date-picker
      				v-model="activeDate"
	  				format="d MMMM yyyy"
      				type="daterange"
      				align="right"
      				unlink-panels
      				range-separator="-"
      				start-placeholder="Start date"
      				end-placeholder="End date"
      				:picker-options="pickerOptions" />
					</div>



				<div class="panel panel-flat">
					<el-table :data="reservations" stripe style="width: 100%" @row-dblclick="editReservation" @selection-change="handleSelectionChange">
						<el-table-column type="selection" width="35">
						</el-table-column>

						<el-table-column
							prop="status"
							label="Durum"
							width="140"
							fixed="left"
							:filters="[{ text: 'Iptal', value: 'canceled' },
									   { text: 'Gerceklesmemis', value: 'pending' },
									   { text: 'Gerceklesmis', value: 'completed' }]"
							:filter-method="filterStatus"
							filter-placement="bottom-end">
							<template slot-scope="scope">
								<span class="label" :class="{ 'bg-success-400': scope.row.status == 'completed',
															  'bg-warning-400': scope.row.status == 'pending',
															  'bg-danger-400' : scope.row.status == 'canceled' }">
									{{ scope.row.status_name }}
								</span>
							</template>
							</el-table-column>

						<el-table-column prop="type_name" label="Type" sortable width="100">
							<template slot-scope="scope">
								{{ scope.row.type_name }}
							</template>
						</el-table-column>

						<el-table-column prop="agency" label="Agency" sortable width="150">
							<template slot-scope="scope">
								<span class="label label-flat label-rounded border-success text-success-600" v-if="scope.row.agency">
									{{ scope.row.agency }}
								</span>
								<span class="label label-flat label-rounded border-primary text-primary-400" v-else>
									Direkt
								</span>
							</template>
						</el-table-column>

						<el-table-column prop="pickup_at" label="Alinis saati" sortable width="120">
							<template slot-scope="scope">
								{{ scope.row.pickup_at|moment('D MMMM') }}<br />
								{{ scope.row.pickup_at|moment('HH:mm')}}
							</template>
						</el-table-column>

						<el-table-column prop="created_at" label="Rez. tarihi" sortable width="120">
							<template slot-scope="scope">
								{{ scope.row.created_at.date|moment('D MMMM') }}<br />
								{{ scope.row.created_at.date|moment('HH:mm') }}
							</template>
						</el-table-column>

						<el-table-column prop="pickup_location" label="Pickup location" sortable width="150">
							<template slot-scope="scope">
								{{ scope.row.pickup_location }}
								<template v-if="scope.row.pickup_location_parent && (scope.row.pickup_location !== scope.row.pickup_location_parent)">
									<br /><small>{{ scope.row.pickup_location_parent }}</small>
								</template>
							</template>
						</el-table-column>

						<el-table-column prop="dropoff_location" label="Dropoff location" sortable width="150">
							<template slot-scope="scope">
								{{ scope.row.dropoff_location }}
								<template v-if="scope.row.dropoff_location_parent && (scope.row.dropoff_location !== scope.row.dropoff_location_parent)">
									<br /><small>{{ scope.row.dropoff_location_parent }}</small>
								</template>
							</template>
						</el-table-column>

						<el-table-column prop="flight" label="Flight" sortable width="100">
							<template slot-scope="scope">
								<span class="label bg-blue">{{ scope.row.flight }}</span><br />

							</template>
						</el-table-column>

						<el-table-column prop="flight_at" label="Ucus saati" sortable width="120">
							<template slot-scope="scope">
								<small>{{ scope.row.flight_at|moment('D MMMM') }}<br />
								{{ scope.row.flight_at|moment('HH:mm')}}</small>
							</template>
						</el-table-column>

						<el-table-column prop="vehicle_name" label="Arac tipi" sortable width="120">
							<template slot-scope="scope">
								{{ scope.row.vehicle_name }} <small>({{ scope.row.vehicle.pax_capacity }} pax)</small>
							</template>
						</el-table-column>

						<el-table-column prop="client_name" label="Müşteri" sortable width="150">
							<template slot-scope="scope">
								{{ scope.row.client_name }}<br>
								<a :href="`tel://${ scope.row.client_phone }`">{{ scope.row.client_phone }}</a>
							</template>
						</el-table-column>

						<el-table-column prop="total_pax" label="Kisi sayisi" sortable width="150">
							<template slot-scope="scope">
								<small>Yetiskin: {{ scope.row.adults }}<br></small>
								<small v-if="scope.row.children > 0">Cocuk: {{ scope.row.children }}<br></small>
								<small v-if="scope.row.baggages > 0">Valiz: {{ scope.row.baggages }}</small>
							</template>
						</el-table-column>

						<el-table-column prop="total_pax" label="Ekstralar" width="150">
							<template slot-scope="scope">
								<small v-if="scope.row.child_seats > 0">Cocuk koltugu: {{ scope.row.child_seats }}<br></small>
								<small v-if="scope.row.boosters > 0">Booster: {{ scope.row.child_seats }}<br></small>
								<small v-if="scope.row.services.includes('champagne')">Sampanya <br></small>
								<small v-if="scope.row.services.includes('bouquet')">Cicek</small>
							</template>
						</el-table-column>


						<el-table-column prop="total" label="Odenecek" sortable width="150">
							<template slot-scope="scope">
								Toplam: {{ scope.row.total }} {{ scope.row.currency }}<br>
								Indirim: {{ scope.row.discount }} {{ scope.row.currency }}
							</template>
						</el-table-column>

						<el-table-column prop="prepaid" label="On odeme" sortable width="120">
							<template slot-scope="scope">
								{{ scope.row.prepaid }} {{ scope.row.payment_currency }}
							</template>
						</el-table-column>

						<el-table-column prop="paid" label="Odenen tutar" sortable width="120">
							<template slot-scope="scope">
								{{ scope.row.paid }} {{ scope.row.payment_currency }}
							</template>
						</el-table-column>

						<el-table-column prop="agency_comission" label="Acenta kom." sortable width="120">
							<template slot-scope="scope">
								{{ scope.row.agency_comission }} {{ scope.row.payment_currency }}
							</template>
						</el-table-column>

						<el-table-column
							fixed="right"
							label=""
							width="40">
							<template slot-scope="scope">

                                <el-dropdown>
                                  <span class="el-dropdown-link">
                                    <el-button type="text" size="small">
                                        <i class="icon-cog3"></i>
                                    </el-button>
                                  </span>
                                  <el-dropdown-menu slot="dropdown">
                                    <el-dropdown-item>Action 1</el-dropdown-item>
                                    <el-dropdown-item>Action 2</el-dropdown-item>
                                    <el-dropdown-item>Action 3</el-dropdown-item>
                                    <el-dropdown-item disabled>Action 4</el-dropdown-item>
                                    <el-dropdown-item divided>Action 5</el-dropdown-item>
                                  </el-dropdown-menu>
                                </el-dropdown>

							</template>
						</el-table-column>

					</el-table>
				</div>

				<el-dialog
					title="Rezervasyon"
					:visible.sync="modal"
				width="50%">
					<span>This is a message</span>
					<span slot="footer" class="dialog-footer">
						<el-button @click="modal = false">Cancel</el-button>
						<el-button type="primary" @click="modal = false">Confirm</el-button>
					</span>
				</el-dialog>

			</div>
		</div>
	</div>
	</div>
</template>
<script type="text/javascript">
import moment from "moment"
import collect from 'collect.js'
import { mapActions, mapGetters } from 'vuex'
export default {
	name: "reservations",
	data() {
    return {
		reservation: {},
        selectedReservations: [],
        deleteButton: false,
		modal: false,
    	activeDate: [moment(), moment().add(7, "days")],
    	pickerOptions: {
        firstDayOfWeek: 1,
        shortcuts: [
          {
            text: "Last week",
            onClick(picker) {
              const end = new Date();
              const start = new Date();
              start.setTime(start.getTime() - 3600 * 1000 * 24 * 7);
              picker.$emit("pick", [start, end]);
            }
          },
          {
            text: "Last month",
            onClick(picker) {
              const end = new Date();
              const start = new Date();
              start.setTime(start.getTime() - 3600 * 1000 * 24 * 30);
              picker.$emit("pick", [start, end]);
            }
          },
          {
            text: "Last 3 months",
            onClick(picker) {
              const end = new Date();
              const start = new Date();
              start.setTime(start.getTime() - 3600 * 1000 * 24 * 90);
              picker.$emit("pick", [start, end]);
            }
          }
        ]
      }
    };
  },
  mounted() {
    this.fetchReservations();
  },
  methods: {
    ...mapActions(['fetch', 'destroy']),
    fetchReservations() {
        let params = {
            start_date: moment(this.activeDate[0]).startOf("day").format("YYYY-MM-DD HH:mm:ss"),
            end_date: moment(this.activeDate[1]).endOf("day").format("YYYY-MM-DD HH:mm:ss")
        }
        this.fetch(['reservations', params])
	},
    handleSelectionChange(val){
        this.selectedReservations = val
    },
	editReservation(reservation){
		this.modal = true
		this.reservation = reservation
	},
    deleteReservations(){
        if(this.selectedReservations.length){
            this.$confirm('Seçilen rezervasyonlar silinecektir, onaylıyormusunuz', 'Uyarı', {
                confirmButtonText: 'Evet',
                cancelButtonText: 'İptal',
                type: 'warning',
                center: true
            }).then(() => {
                this.selectedReservations.map(r => {
                    this.destroy(['reservations', r]).then(() => {
                        this.selectedReservations = []
                        this.$message({
                            type: 'success',
                            message: 'Seçilen rezervasyonlar silindi'
                        })
                    }).catch(err => {
                        this.$message({
                            type: 'error',
                            message: 'Kayıt silinemedi'
                        })
                    })
                })
            })
        }
    },
	filterStatus(value, row) {
		return row.status === value
	}
  },
  computed: {
    ...mapGetters(['reservations'])
  },
  watch: {
    activeDate: function() {
      this.fetchReservations()
    }
  }
};
</script>