<template lang="pug">
	.page-container
		.page-content
			.content-wrapper
				.panel.panel-default
					.panel-heading
						el-button(type="success", @click="createSubdestination") Alt bolge oluştur

					el-table(:data="subdestinations", @row-click="editSubdestination")
						el-table-column(prop="name", label="Alt bolge", sortable="")
						el-table-column(prop="parent_name", label="Bolge", sortable="")
							template(slot-scope="scope")
								| {{ scope.row.parent_name }}

					el-dialog(:visible.sync="modal")

						el-form(ref="form", :model="subdestination", label-width="120px")
							el-form-item(label="Alt bolge")
								el-input(v-model="subdestination.name")
							el-form-item(label="Bolge")
								el-select(v-model="subdestination.parent_id", placeholder="Ulke seciniz", filterable="")
									el-option(v-for="sd in destinations", :label="sd.name", :value="sd.id", :key="sd.id")

						span.dialog-footer(slot="footer")
							el-button(type="primary", @click="saveSubdestination", :disabled="!subdestination.name.length") Kaydet
							el-button(@click="modal = false", plain="") Kapat
</template>
<script type="text/javascript">
	import { mapGetters, mapActions } from 'vuex'
	export default {
		name: 'subdestinations',
		data(){
			return {
				modal: false,
				subdestination: { type: 'subdestination', name: '' }
			}
		},
		mounted(){
			this.fetch('locations')
		},
		methods: {
			...mapActions([
				'fetch',
				'store', 
				'add', 
				'update', 
				'destroy',
				'restore',
				'change',
				'unset',
				'toggle'
			]),
			createSubdestination(){
				this.subdestination = { type: 'subdestination', name: '' }
				this.modal = true
			},
			editSubdestination(row){
				this.subdestination = row
				this.modal = true
			},
			saveSubdestination(){
				if(this.subdestination.hasOwnProperty('id')){
					this.update(['locations', this.subdestination]).then(res => {
						//this.replace('subdestinations', res.data)
						//this.$refs.upload.submit()
						this.modal = false
					})
				}else{
					this.store(['locations', this.subdestination]).then(res => {
						//this.replace('locations', res.data)
						//this.$refs.upload.submit()
						this.modal = false
					})
				}
			}
		},
		computed: {
			...mapGetters([
				'subdestinations',
				'destinations',
				'filters',
				'loading'
			]),
		}
	}
</script>