<template>
	<div class="page-container">
		<div class="page-content">
			<div class="content-wrapper">

				<div class="panel panel-default">
					<div class="panel-heading">
						<el-button type="success" @click="createUser">Kullanici olustur</el-button>
					</div>

					<el-table :data="users" @row-click="editUser">
						<el-table-column prop="attachments" width="100px">
							<template slot-scope="scope">
								<img v-if="scope.row.hasOwnProperty('attachments') && scope.row.attachments.length" 
									 :src="scope.row.attachments[0].url" 
									 style="height: 80px;" />
							</template>
						</el-table-column>
						<el-table-column prop="name" label="Kullanici" sortable />
						<el-table-column prop="email" label="Email" sortable />
						<el-table-column prop="phone" label="Telefon" sortable />
					</el-table>

					<el-dialog :visible.sync="modal" :title="user.name">
						<el-form ref="form" :model="user" label-width="150px">
							<el-form-item label="Kullanici adi">
								<el-input v-model="user.name"></el-input>
							</el-form-item>
							<el-form-item label="E-mail adresi">
								<el-input v-model="user.email" />
							</el-form-item>
							<el-form-item label="Telefon numarasi">
								<el-input v-model="user.phone" />
							</el-form-item>
							<el-form-item label="Parola">
								<el-input v-model="user.password" />
							</el-form-item>
				<!-- 			<el-form-item label="Durumu">
								<el-input v-model="user.status"></el-input>
							</el-form-item> -->

							<el-upload
							class="avatar-uploader"
							action="/api/users/upload"
							:data="{ user_id: user.id }"
							:auto-upload="true"
							:on-preview="handlePreview"
							:on-remove="handleRemove"
							:file-list="attachments"
							:with-credentials="true"
							:thumbnail-mode="true"
							:headers="{ 'X-CSRF-TOKEN': token }"
							ref="upload"
							list-type="picture" 
							:show-file-list="true"
							v-if="user.id">
							<el-button size="small" type="primary">Click to upload</el-button>
							<!-- <div slot="tip" class="el-upload__tip">jpg/png files with a size less than 500kb</div> -->
							</el-upload>
							<el-alert type="warning" title="Resim yuklemek icin once arac olusturunuz" v-if="!user.id"></el-alert>
						</el-form>
						<span slot="footer" class="dialog-footer">
							<el-button type="primary" @click="saveUser">Kaydet</el-button>
							<el-button @click="modal = false">Kapat</el-button>
						</span>
					</el-dialog>

				</div>
			</div>
		</div>
	</div>
</template>
<script>
import axios from 'axios'
import { mapGetters, mapActions } from 'vuex'
export default {
	name: 'users',
	data(){
		return {
			user: { name: '' },
			modal: false
		}	
	},
	mounted () {
		this.fetch('users')
	},
	methods: {
		...mapActions(['fetch', 'store', 'change', 'update']),
		createUser(){
			this.user = { name: '' }
			this.modal = true
		},
		editUser(row){
			this.user = row
			this.modal = true
		},
		saveUser(){
			if(this.user.hasOwnProperty('id')){
				this.update(['users', this.user]).then(res => {
					this.user = res.data
					this.$refs.upload.submit()
					this.modal = false
				})
			}else{
				this.store(['users', this.user]).then(res => {
					this.user = res.data
					this.$refs.upload.submit()
					this.modal = false
				})
			}
		},
		handleRemove(file) {
			axios.delete('/api/users/deleteimage', {params: { user_id: this.user.id, key: file.key }}).then(res => {
				console.log(res.data)
			})
		},
		handlePreview(file) {
			//console.log(file);
		}
	},
	computed: {
		...mapGetters(['users']),
		token: function(){
			return window.axios.defaults.headers.common['X-CSRF-TOKEN']
		},
		attachments: function(){
			return this.user.attachments.map(a => {
				return { name: a.filename, url: a.url, key: a.key }
			})
		}
	}
}
</script>
<style>
  .avatar-uploader .el-upload {
    border: 1px dashed #d9d9d9;
    border-radius: 6px;
    cursor: pointer;
    position: relative;
    overflow: hidden;
  }
  .avatar-uploader .el-upload:hover {
    border-color: #409EFF;
  }
  .avatar-uploader-icon {
    font-size: 28px;
    color: #8c939d;
    width: 178px;
    height: 178px;
    line-height: 178px;
    text-align: center;
  }
  .avatar {
    width: 178px;
    height: 178px;
    display: block;
  }
  .el-upload__input{
	  display: none !important;
  }
</style>