<template>
	<div class="page-container">
		<div class="page-content">
			<div class="content-wrapper">

				
				
				<div class="panel panel-default">
					<div class="panel-heading">
						<el-button type="success" @click="createVehicle">Arac tipi olustur</el-button>
					</div>

		
		<el-table :data="vehicles" @row-click="editVehicle">
			<el-table-column prop="attachments" label="" width="160px">
				<template slot-scope="scope">
					<img v-if="scope.row.hasOwnProperty('attachments') && scope.row.attachments.length" 
						 :src="scope.row.attachments[0].url"
						 style="width: 150px;" />
				</template>
			</el-table-column>
			<el-table-column prop="name" label="Arac tipi" sortable />
			<el-table-column prop="pax_capacity" label="Yolcu kap." sortable />
			<el-table-column prop="baggage_capacity" label="Valiz kap." sortable />
			<el-table-column prop="models" label="Arac modelleri" sortable />
		</el-table>
		<el-dialog :visible.sync="modal" :title="vehicle.name">
			<el-form ref="form" :model="vehicle" label-width="120px">

				<el-tabs v-model="defaultLang">
					<el-tab-pane v-for="ln in languages" :label="ln" :name="ln" :key="ln">
						<el-form-item label="Arac tipi">
							<el-input :value="getTrans('name', ln)" @change="setTrans('name', ln, $event)" />
						</el-form-item>
						<el-form-item label="Arac modelleri">
							<el-input :value="getTrans('models', ln)" @change="setTrans('models', ln, $event)" />
						</el-form-item>

					</el-tab-pane>
				</el-tabs>

				<el-form-item label="Yolcu kapasitesi">
					<el-input-number v-model="vehicle.pax_capacity" />
				</el-form-item>
				<el-form-item label="Valiz kapasitesi">
					<el-input-number v-model="vehicle.baggage_capacity" />
				</el-form-item>
				<el-upload
				class="upload-demo"
				action="/api/vehicles/upload"
				:data="{ vehicle_id: vehicle.id }"
				:auto-upload="true"
				multiple
				:thumbnail-mode="true"
				:on-preview="handlePreview"
				:on-remove="handleRemove"
				:file-list="attachments"
				:with-credentials="true"
				:headers="{ 'X-CSRF-TOKEN': token }"
				ref="upload"
				list-type="picture-card" v-if="vehicle.id" >
				<!-- <div slot="tip" class="el-upload__tip">jpg/png files with a size less than 500kb</div> -->
				</el-upload>
				<el-alert type="warning" title="Resim yuklemek icin once arac olusturunuz" v-if="!vehicle.id"></el-alert>
			</el-form>
			<span slot="footer" class="dialog-footer">
				<el-button type="primary" @click="saveVehicle">Kaydet</el-button>
				<el-button @click="modal = false">Kapat</el-button>
			</span>
		</el-dialog>
		</div>
	</div>
			</div>
		</div>
	</div>
</template>
<script type="text/javascript">
	import { mapGetters, mapActions } from 'vuex'
	import { get, set } from 'lodash'
	export default {
		name: 'vehicles',
		data(){
			return {
				modal: false,
				vehicle: {},
				saving: false,
				defaultLang: 'en'
			}
		},
		mounted(){
			this.fetch('vehicles')
		},
		methods: {
			...mapActions(['fetch', 'store', 'change', 'update', 'change']),
			createVehicle(){
				this.defaultLang = this.languages[0]
				this.vehicle = { name: ''}
				this.modal = true 
			},
			editVehicle(row, event, column){
				this.defaultLang = this.languages[0]
				this.vehicle = row
				this.modal = true
			},
			saveVehicle(){
				if(this.vehicle.hasOwnProperty('id')){
					this.update(['vehicles', this.vehicle]).then(res => {
						//this.change('vehicles', res.data)
						this.$refs.upload.submit()
						this.modal = false
					})
				}else{
					this.store(['vehicles', this.vehicle]).then(res => {
						//this.change('vehicles', res.data)
						//this.$refs.upload.submit()
						this.modal = false
					})
				}
			},

			handleRemove(file, fileList) {
				axios.delete('/api/vehicles/deleteimage', {params: { vehicle_id: this.vehicle.id, key: file.key }}).then(res => {
					console.log(res.data)
				})
			},
			handlePreview(file) {
				//console.log(file);
			},
			getTrans(field, ln){
 				return get(this, 'vehicle.' + field + '_trans.' + ln, null)
			},
			setTrans(field, ln, value){
				set(this.vehicle, `${field}_trans.${ln}`, value)
			}
		},
		computed: {
			...mapGetters(['vehicles']),
			token: function(){
				return window.axios.defaults.headers.common['X-CSRF-TOKEN']
			},
			attachments: function(){
				return this.vehicle.attachments.map(a => {
					return { name: a.filename, url: a.url, key: a.key }
				})
			},
			languages: function(){
				return window.settings.active_languages
			}
		},
		watch: {

		}
	}
</script>

<style>
  .avatar-uploader .el-upload {
    border: 1px dashed #d9d9d9;
    border-radius: 6px;
    cursor: pointer;
    position: relative;
    overflow: hidden;
  }
  .avatar-uploader .el-upload:hover {
    border-color: #409EFF;
  }
  .avatar-uploader-icon {
    font-size: 28px;
    color: #8c939d;
    width: 178px;
    height: 178px;
    line-height: 178px;
    text-align: center;
  }
  .avatar {
    width: 178px;
    height: 178px;
    display: block;
  }
  .el-upload__input{
	  display: none !important;
  }
</style>