.bgwhite{
	background-color: #fff !important;
}

.site-footer .newsletter button[type="submit"],.newsletter-bar .subscribe-box form button[type="submit"]{
	width: 40%;
}

.site-footer .newsletter input[type="text"],.newsletter-bar .subscribe-box form input[type="text"]{
	width: 55%;
}

.newsletter-bar .subscribe-box h5{
	font-size: 27px;
	text-align: right;
}

.form-holder{
	margin-top: 22px;
}

.site-footer .contact-infos dd a, .contact .contact-box .right-side address a{
	text-decoration: none;
	color: #fff;
}

.site-footer{
	padding-top: 40px;
}

button.dropdown-toggle{
	height: 50px;
    border: 2px solid #bfc3cd;
    border-radius: 2px;
}
button.dropdown-toggle:hover{
	border: 2px solid #1caf4d;
}

.room-booking-form form{
	max-width: 950px;
	padding: 20px 30px 37px 30px;
}
.int-header.transfers{
	height: 200px;
}