<template>
	<div class="navbar navbar-default" id="navbar-second">
		<div class="navbar-header" style="min-width: 105px;">
		    <router-link :to="{ name: 'dashboard' }" class="navbar-brand" style="padding: 0 20px">
		    	<img src="/images/logo2.png" alt="" style="height: 44px">
		    </router-link>
		</div>
	    <ul class="nav navbar-nav no-border visible-xs-block">
	        <li><a class="text-center collapsed" data-toggle="collapse" data-target="#navbar-second-toggle"><i class="icon-menu7"></i></a></li>
	    </ul>
	    <div class="navbar-collapse collapse" id="navbar-second-toggle">
	        <ul class="nav navbar-nav">
	            <li>
	                <router-link :to="{ name: 'dashboard' }">
	                    <i class="icon-home5"></i>
	                </router-link>
	            </li>
	            <li class="dropdown">
	                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
	                    <i class="icon-price-tags2 position-left"></i> Rezervasyonlar <span class="caret"></span>
	                </a>
	                <ul class="dropdown-menu width-200">
	                    <li>
	                    	<router-link :to="{ name: 'reservations' }">
	                    		<i class="icon-price-tags2 position-left"></i> Tüm rezervasyonlar
	                    	</router-link>
	                   	</li>
	                </ul>
	            </li>
	            <li class="dropdown">
	                <a class="dropdown-toggle" data-toggle="dropdown">
	                    <i class="icon-coin-dollar position-left"></i> Fiyatlar <span class="caret" />
	                </a>
					<ul class="dropdown-menu width-150">
	                	<li>
	                    	<router-link :to="{ name: 'prices' }">
	                    		<i class="icon-coin-dollar position-left"></i> Fiyatları
	                    	</router-link>
	                    </li>
	                    <li>
	                    	<router-link :to="{ name: 'discounts' }">
	                    		<i class="icon-percent position-left"></i> Kampanyalar
	                    	</router-link>
	                    </li>
	                </ul>
	            </li>
	            <li class="dropdown">
	                <a class="dropdown-toggle" data-toggle="dropdown">
	                    <i class="icon-flip-vertical4 position-left"></i> Acentalar <span class="caret" />
	                </a>
					<ul class="dropdown-menu width-150">
	                	<li>
	                    	<router-link :to="{ name: 'agencies' }">
	                    		<i class="icon-flip-vertical4 position-left"></i> Acentalar
	                    	</router-link>
	                    </li>
	                </ul>
	            </li>
	            <li class="dropdown">
	                <a class="dropdown-toggle" data-toggle="dropdown">
	                    <i class="icon-man-woman position-left"></i> Müşteriler <span class="caret" />
	                </a>
					<ul class="dropdown-menu width-150">
	                	<li>
	                    	<router-link :to="{ name: 'customers' }">
	                    		<i class="icon-man-woman position-left"></i> Müşteriler
	                    	</router-link>
	                    </li>
	                </ul>
	            </li>
	            <li class="dropdown">
	                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
	                    <i class="icon-ungroup position-left"></i> Tanımlamalar <span class="caret"></span>
	                </a>

	                <ul class="dropdown-menu width-150">
	                	<li>
	                    	<router-link :to="{ name: 'vehicles' }">
	                    		<i class="icon-bus position-left"></i> Araç tipleri
	                    	</router-link>
	                    </li>
						<li>
							<router-link :to="{ name: 'countries' }">
								 <i class="icon-earth position-left"></i> Ülkeler
							</router-link>
						</li>
						<li>
							<router-link :to="{ name: 'cities' }">
								<i class="icon-city position-left"></i> Şehirler
							</router-link>
						</li>
						<li>
							<router-link :to="{ name: 'destinations' }">
								<i class="icon-pin position-left"></i> Bolgeler
							</router-link>
						</li>
						<li>
							<router-link :to="{ name: 'subdestinations' }">
								<i class="icon-location4 position-left"></i> Alt bolgeler
							</router-link>
						</li>

						<li>
							<router-link :to="{ name: 'airports' }">
								<i class="icon-airplane2 position-left"></i> Havaalanlar
							</router-link>
						</li>
						<li>
							<router-link :to="{ name: 'hotels' }">
								<i class="icon-star-full2 position-left"></i> Oteller
							</router-link>
						</li>
						<li>
							<router-link :to="{ name: 'users' }">
								<i class="icon-users position-left"></i> Kullanicilar
							</router-link>
						</li>
	                </ul>
	            </li>
	        </ul>

	        <ul class="nav navbar-nav navbar-right">
	        	<li v-loading="$store.getters.loading" style="width:50px;">&nbsp;</li>
<!--				
	            <li class="dropdown">
	                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
	                    <i class="icon-git-compare"></i>
	                    <span class="visible-xs-inline-block position-right">Son siparişler</span>
	                    <span class="badge bg-indigo-400">9</span>
	                </a>
	                
	                <div class="dropdown-menu dropdown-content">
	                    <div class="dropdown-content-heading">
	                        Son güncellemeler
	                        <ul class="icons-list">
	                            <li><a href="#"><i class="icon-sync"></i></a></li>
	                        </ul>
	                    </div>

	                    <ul class="media-list dropdown-content-body width-350">
	                        <li class="media">
	                            <div class="media-left">
	                                <a href="#" class="btn border-primary text-primary btn-flat btn-rounded btn-icon btn-sm"><i class="icon-git-pull-request"></i></a>
	                            </div>

	                            <div class="media-body">
	                                Drop the IE <a href="#">specific hacks</a> for temporal inputs
	                                <div class="media-annotation">4 minutes ago</div>
	                            </div>
	                        </li>

	                        <li class="media">
	                            <div class="media-left">
	                                <a href="#" class="btn border-warning text-warning btn-flat btn-rounded btn-icon btn-sm"><i class="icon-git-commit"></i></a>
	                            </div>
	                            
	                            <div class="media-body">
	                                Add full font overrides for popovers and tooltips
	                                <div class="media-annotation">36 minutes ago</div>
	                            </div>
	                        </li>

	                        <li class="media">
	                            <div class="media-left">
	                                <a href="#" class="btn border-info text-info btn-flat btn-rounded btn-icon btn-sm"><i class="icon-git-branch"></i></a>
	                            </div>
	                            
	                            <div class="media-body">
	                                <a href="#">Chris Arney</a> created a new <span class="text-semibold">Design</span> branch
	                                <div class="media-annotation">2 hours ago</div>
	                            </div>
	                        </li>

	                        <li class="media">
	                            <div class="media-left">
	                                <a href="#" class="btn border-success text-success btn-flat btn-rounded btn-icon btn-sm"><i class="icon-git-merge"></i></a>
	                            </div>
	                            
	                            <div class="media-body">
	                                <a href="#">Eugene Kopyov</a> merged <span class="text-semibold">Master</span> and <span class="text-semibold">Dev</span> branches
	                                <div class="media-annotation">Dec 18, 18:36</div>
	                            </div>
	                        </li>

	                        <li class="media">
	                            <div class="media-left">
	                                <a href="#" class="btn border-primary text-primary btn-flat btn-rounded btn-icon btn-sm"><i class="icon-git-pull-request"></i></a>
	                            </div>
	                            
	                            <div class="media-body">
	                                Have Carousel ignore keyboard events
	                                <div class="media-annotation">Dec 12, 05:46</div>
	                            </div>
	                        </li>
	                    </ul>

	                    <div class="dropdown-content-footer">
	                        <a href="#" data-popup="tooltip" title="All activity"><i class="icon-menu display-block"></i></a>
	                    </div>
	                </div>
	            </li>

	            <li class="dropdown">
	                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
	                    <i class="icon-people"></i>
	                    <span class="visible-xs-inline-block position-right">Kullanıcılar</span>
	                    <span class="badge bg-violet-400">9</span>
	                </a>
	                
	                <div class="dropdown-menu dropdown-content">
	                    <div class="dropdown-content-heading">
	                        Kullanıcılar
	                        <ul class="icons-list">
	                            <li><a href="#"><i class="icon-gear"></i></a></li>
	                        </ul>
	                    </div>

	                    <ul class="media-list dropdown-content-body width-300">
	                        <li class="media">
	                            <div class="media-left"><img src="//via.placeholder.com/36x36" class="img-circle img-sm" alt=""></div>
	                            <div class="media-body">
	                                <a href="#" class="media-heading text-semibold">Jordana Ansley</a>
	                                <span class="display-block text-muted text-size-small">Lead web developer</span>
	                            </div>
	                            <div class="media-right media-middle"><span class="status-mark border-success"></span></div>
	                        </li>

	                        <li class="media">
	                            <div class="media-left"><img src="//via.placeholder.com/36x36" class="img-circle img-sm" alt=""></div>
	                            <div class="media-body">
	                                <a href="#" class="media-heading text-semibold">Will Brason</a>
	                                <span class="display-block text-muted text-size-small">Marketing manager</span>
	                            </div>
	                            <div class="media-right media-middle"><span class="status-mark border-danger"></span></div>
	                        </li>

	                        <li class="media">
	                            <div class="media-left"><img src="//via.placeholder.com/36x36" class="img-circle img-sm" alt=""></div>
	                            <div class="media-body">
	                                <a href="#" class="media-heading text-semibold">Hanna Walden</a>
	                                <span class="display-block text-muted text-size-small">Project manager</span>
	                            </div>
	                            <div class="media-right media-middle"><span class="status-mark border-success"></span></div>
	                        </li>

	                        <li class="media">
	                            <div class="media-left"><img src="//via.placeholder.com/36x36" class="img-circle img-sm" alt=""></div>
	                            <div class="media-body">
	                                <a href="#" class="media-heading text-semibold">Dori Laperriere</a>
	                                <span class="display-block text-muted text-size-small">Business developer</span>
	                            </div>
	                            <div class="media-right media-middle"><span class="status-mark border-warning-300"></span></div>
	                        </li>

	                        <li class="media">
	                            <div class="media-left"><img src="//via.placeholder.com/36x36" class="img-circle img-sm" alt=""></div>
	                            <div class="media-body">
	                                <a href="#" class="media-heading text-semibold">Vanessa Aurelius</a>
	                                <span class="display-block text-muted text-size-small">UX expert</span>
	                            </div>
	                            <div class="media-right media-middle"><span class="status-mark border-grey-400"></span></div>
	                        </li>
	                    </ul>

	                    <div class="dropdown-content-footer">
	                        <a href="#" data-popup="tooltip" title="All users"><i class="icon-menu display-block"></i></a>
	                    </div>
	                </div>
	            </li>

	            <li class="dropdown">
	                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
	                    <i class="icon-bubble-lines4"></i>
	                    <span class="visible-xs-inline-block position-right">Mesajlar</span>
	                    <span class="badge bg-warning-400">2</span>
	                </a>
	                
	                <div class="dropdown-menu dropdown-content width-350">
	                    <div class="dropdown-content-heading">
	                        Mesajlar
	                        <ul class="icons-list">
	                            <li><a href="#"><i class="icon-compose"></i></a></li>
	                        </ul>
	                    </div>

	                    <ul class="media-list dropdown-content-body">
	                        <li class="media">
	                            <div class="media-left">
	                                <img src="//via.placeholder.com/36x36" class="img-circle img-sm" alt="">
	                                <span class="badge bg-danger-400 media-badge">5</span>
	                            </div>

	                            <div class="media-body">
	                                <a href="#" class="media-heading">
	                                    <span class="text-semibold">James Alexander</span>
	                                    <span class="media-annotation pull-right">04:58</span>
	                                </a>

	                                <span class="text-muted">who knows, maybe that would be the best thing for me...</span>
	                            </div>
	                        </li>

	                        <li class="media">
	                            <div class="media-left">
	                                <img src="//via.placeholder.com/36x36" class="img-circle img-sm" alt="">
	                                <span class="badge bg-danger-400 media-badge">4</span>
	                            </div>

	                            <div class="media-body">
	                                <a href="#" class="media-heading">
	                                    <span class="text-semibold">Margo Baker</span>
	                                    <span class="media-annotation pull-right">12:16</span>
	                                </a>

	                                <span class="text-muted">That was something he was unable to do because...</span>
	                            </div>
	                        </li>

	                        <li class="media">
	                            <div class="media-left"><img src="//via.placeholder.com/36x36" class="img-circle img-sm" alt=""></div>
	                            <div class="media-body">
	                                <a href="#" class="media-heading">
	                                    <span class="text-semibold">Jeremy Victorino</span>
	                                    <span class="media-annotation pull-right">22:48</span>
	                                </a>

	                                <span class="text-muted">But that would be extremely strained and suspicious...</span>
	                            </div>
	                        </li>

	                        <li class="media">
	                            <div class="media-left"><img src="//via.placeholder.com/36x36" class="img-circle img-sm" alt=""></div>
	                            <div class="media-body">
	                                <a href="#" class="media-heading">
	                                    <span class="text-semibold">Beatrix Diaz</span>
	                                    <span class="media-annotation pull-right">Tue</span>
	                                </a>

	                                <span class="text-muted">What a strenuous career it is that I've chosen...</span>
	                            </div>
	                        </li>

	                        <li class="media">
	                            <div class="media-left"><img src="//via.placeholder.com/36x36" class="img-circle img-sm" alt=""></div>
	                            <div class="media-body">
	                                <a href="#" class="media-heading">
	                                    <span class="text-semibold">Richard Vango</span>
	                                    <span class="media-annotation pull-right">Mon</span>
	                                </a>
	                                
	                                <span class="text-muted">Other travelling salesmen live a life of luxury...</span>
	                            </div>
	                        </li>
	                    </ul>

	                    <div class="dropdown-content-footer">
	                        <a href="#" data-popup="tooltip" title="All messages"><i class="icon-menu display-block"></i></a>
	                    </div>
	                </div>
	            </li>
-->
	            <li class="dropdown dropdown-user">
	                <a class="dropdown-toggle" data-toggle="dropdown">
	                    <img src="//via.placeholder.com/36x36" alt="">
	                    <span>{{ user.name }}</span>
	                    <i class="caret"></i>
	                </a>

	                <ul class="dropdown-menu dropdown-menu-right">
	                    <li><a href="#"><i class="icon-user-plus"></i> My profile</a></li>
	                    <li><a href="#"><i class="icon-coins"></i> My balance</a></li>
	                    <li><a href="#"><span class="badge badge-warning pull-right">58</span> <i class="icon-comment-discussion"></i> Messages</a></li>
	                    <li class="divider"></li>
	                    <li><a href="#"><i class="icon-cog5"></i> Account settings</a></li>
	                    <li><a href="/logout"><i class="icon-switch2"></i> Logout</a></li>
	                </ul>
	            </li>
	            <li class="dropdown">
	                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
	                    <i class="icon-cog3"></i>
	                    <span class="visible-xs-inline-block position-right">Share</span>
	                    <span class="caret"></span>
	                </a>

	                <ul class="dropdown-menu dropdown-menu-right">
	                    <li><a href="#"><i class="icon-user-lock"></i> Account security</a></li>
	                    <li><a href="#"><i class="icon-statistics"></i> Analytics</a></li>
	                    <li><a href="#"><i class="icon-accessibility"></i> Accessibility</a></li>
	                    <li class="divider"></li>
	                    <li><a href="#"><i class="icon-gear"></i> All settings</a></li>
	                </ul>
	            </li>
	        </ul>
	    </div>
	</div>
</template>
<script>
	export default {
		name: 'SecondaryNav',
		data(){
			return {
				user: window.user
			}
		}
	}
</script>

<style>
.el-loading-spinner{
	margin-top: -8px !important;
}
</style>